@import '../../../variables';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  background: #fff;
  padding: 15px;

  &:not(:last-of-type) {
    border-bottom: 1px solid $grey;
  }
}

.info {
  display: flex;
  align-items: center;

  &__avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;

    &_noAvatar {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      mix-blend-mode: difference;
      color: #fff;
    }
  }

  &__text {
    margin-left: 10px;

    .name {
      &_owner {
        svg path {
          fill: darken($orange, 3%);
        }
      }
    }

    .totalAmount {
      font-weight: 400;
      margin-top: 2px;
    }
  }
}

button.button_delete {
  background: transparent;
  color: $bg;

  &:hover {
    background: $bg;

    svg path {
      fill: #fff;
    }
  }
}
