@import '../../../variables';

.date {
  text-align: right;
  font-size: 15px;
  margin-top: 14px;

  .time {
    font-weight: 400;
    color: $black;
  }
}

.content {
  position: relative;
  min-width: 170px;
  padding: 13px 17px;
  color: $black;
  font-size: 16px;
  font-weight: 400;
  background-color: $lightBg;
  border-radius: $borderRadius;
  white-space: pre-wrap;
  word-break: break-word;

  &_green {
    color: #fff;
    background-color: $green;

    .date .time {
      color: $lightGrey;
    }
  }

  &_red {
    color: #fff;
    background-color: lighten($accent, 5%);

    .date .time {
      color: $lightGrey;
    }
  }
}

.wrapper {
  max-width: 85%;
  display: flex;
  gap: 15px;
}

.log {
  display: flex;
  margin: 0 auto 30px;

  &_right {
    justify-content: flex-end;

    .content {
      color: #fff;
      background-color: $bg;

      .date .time {
        color: $lightGrey;
      }
    }

    .wrapper {
      max-width: 70%;
    }
  }

  &_center {
    justify-content: center;
  }
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.noAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #fff;
}

.username {
  font-weight: 500;
  margin-bottom: 15px;
}
