$white: #fff;
$black: #000;
$bright-red: #ef4162;
$grayish-violet: #958ab5;
$light-grayish-blue: #f0f1f5;
$light-grayish-violet: #d6d2e1;
$desaturated-dark-blue: #897cb1;
$mostly-desaturated-dark-violet: #5d5378;
$very-dark-grayish-blue-violet_gradient: linear-gradient(180deg, rgba(62,57,80,1) 0%, rgba(85,75,109,1) 100%);
$very-dark-grayish-violet_gradient: linear-gradient(180deg, rgba(83,69,95,1) 0%, rgba(79,70,99,1) 100%);