$desktop-24: only screen and (max-width: 1920px);
$desktop-22: only screen and (max-width: 1680px);
$desktop-20: only screen and (max-width: 1600px);
$desktop-19: only screen and (max-width: 1440px);
$desktop-15: only screen and (max-width: 1366px);
$desktop-13: only screen and (max-width: 1280px);
$desktop-12: only screen and (max-width: 1024px);

$tablet-samsung-galaxy-tab-10: only screen and (max-width: 800px);
$tablet-ipad-mini: only screen and (max-width: 768px);
$tablet-nexus-7: only screen and (max-width: 600px);

$mobile-lg: only screen and (max-width: 480px);
$mobile-iphone-xr: only screen and (max-width: 414px);
$mobile-nexus: only screen and (max-width: 412px);
$mobile-xiaomi-redmi-note-5: only screen and (max-width: 393px);
$mobile-iphone-xs: only screen and (max-width: 375px);
$mobile-xiaomi-redmi: only screen and (max-width: 360px);
$mobile-iphone-5: only screen and (max-width: 320px);