$desktop-19: only screen and (max-width: 1440px);
$desktop-12: only screen and (max-width: 1024px);

$tablet-ipad-mini: only screen and (max-width: 768px);
$tablet-nexus-7: only screen and (max-width: 600px);

$mobile-lg: only screen and (max-width: 480px);
$mobile-iphone-xs: only screen and (max-width: 375px);