$desktop: only screen and (max-width: 1440px);
$notebook: only screen and (max-width: 1024px);

$tablet: only screen and (max-width: 768px);
$tabletSmall: only screen and (max-width: 600px);

$mobileLarge: only screen and (max-width: 480px);
$mobile: only screen and (max-width: 375px);
