$text: #b3b3b3;
$black: #3f3f3f;
$accent: #ef4162;
$lightGrey: #f0f1f5;
$grey: #d6d2e1;
$bg: #897cb1;
$lightBg: #e5e1f2;
$darkBg: #4f4663;
$border: #e8e8ea;
$button: #8a7db3;
$mainBg: #f9f8fe;
$green: #3cb371;
$orange: #ffdd00;

$bgGradient: linear-gradient(180deg, darken($darkBg, 5%) 0%, lighten($darkBg, 5%) 100%);

$borderRadius: 5px;
