$white: #fff;
$black: #000;
$lightRed: #ef4162;
$lightPurple: #958ab5;
$lightGrey: #f0f1f5;
$grey: #d6d2e1;
$purple: #897cb1;
$darkPurple: #5d5378;

$very-dark-grayish-blue-violet_gradient: linear-gradient(180deg, rgba(62,57,80,1) 0%, rgba(85,75,109,1) 100%);
$very-dark-grayish-violet_gradient: linear-gradient(180deg, rgba(83,69,95,1) 0%, rgba(79,70,99,1) 100%); 
