@import '../../variables';

.button {
  padding: 15px 23px;
  color: #fff;
  background: $accent;
  border-radius: $borderRadius;
  font-size: 16px;
  display: flex;

  &:hover {
    background: darken($accent, 6%);
  }

  &:active {
    background: darken($accent, 10%);
  }

  &.secondary {
    background: $bg;

    &:hover {
      background: darken($bg, 4%);
    }

    &:active {
      background: darken($bg, 7%);
    }
  }

  &.control {
    width: 30px;
    height: 30px;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
}
