.wrapper {
  background: #fff;
  padding: 0 30px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 82px;
}

.title {
  font-size: 20px;
  font-weight: 400;
  margin-right: 10px;
  margin-top: 10px;
}

.panel {
  display: flex;
  align-items: center;
  gap: 30px;

  .menu {
    margin-top: 10px;
  }
}
