@import '../../../variables';

.wrapper {
  position: relative;

  .button {
    position: relative;
    padding: 0;

    .counter {
      position: absolute;
      top: 0;
      right: -3px;
      background: lighten($accent, 3%);
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      font-size: 13px;
    }

    .icon {
      font-size: 30px;

      path {
        fill: darken($bg, 5%);
      }
    }

    &:hover {
      .icon {
        &.new {
          transform-origin: top;
          animation: shakingBell 0.3s infinite ease-in-out;
        }

        path {
          fill: lighten($bg, 15%);
        }
      }
    }
  }
}

.popover {
  margin-top: 12px;

  &__content {
    width: 500px;
    border-radius: $borderRadius;
  }

  &__item {
    padding: 17px 27px 17px 12px;
    cursor: pointer;
    border-left: 7px solid transparent;
    position: relative;

    &_system {
      border-color: $orange;
    }

    &_kick {
      border-color: darken($accent, 10%);
    }

    &_invitation {
      border-color: $green;
    }

    &_goal {
      border-color: $bg;
    }

    &:not(&_isViewed) {
      &:after {
        content: '';
        position: absolute;
        border-radius: 50%;
        background: $bg;
        width: 6px;
        height: 6px;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &_isViewed {
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      background: darken($lightBg, 6%);
    }
  }
}

@keyframes shakingBell {
  0%,
  50%,
  100% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(3deg);
  }

  75% {
    transform: rotate(-3deg);
  }
}
