@import '../../variables';

.root {
  background: $mainBg;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1400px;
  margin: 100px auto;
  height: calc(100% - 200px);
  box-shadow: 0 0 85px 20px rgba($bg, 0.35);
  display: flex;
}

.wrapper {
  background: $lightGrey;
  width: calc(100% - 320px);
  overflow: hidden;
}

.counter {
  display: flex;
  height: calc(100% - 82px);
  padding: 30px 40px;
}
