@import '../../../variables';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: $borderRadius;
  cursor: pointer;
  opacity: 0.75;

  &:hover {
    background: lighten($accent, 6%);
    opacity: 1;
  }

  &:active {
    background: $accent;
  }

  &:not(:last-of-type) {
    margin-bottom: 5px;
  }

  &.active {
    background: lighten($darkBg, 10%);
    opacity: 1;
  }
}

.name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 163px;
  font-size: 15px;
}

input.renameInput {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.controls {
  display: flex;

  button.button {
    background: none;
    font-size: 15px;

    &:hover {
      background: $darkBg;
    }
  }
}
